.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home_Page {
  position: absolute;
  top: 22vh;
  left: 20vw;
  right: 15vw;
  bottom: 15vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /*box-shadow: 8px 5px 2px white;*/
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: white;*/
}
/******************************* BACKGROUND ************************************/
.Full_Page {
  /*background-color: beige;*/
  /*background-color: lavender;*/
  background-color: black;
  height: 100vh;
}
/**************************** HEADER & NAV *************************************/

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}


.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.header{}

.desktop-nav{
  width: 100%;
}

.menus {}


.Nav_Bar {
  display: flex;
}

.Home_Link{
  position: absolute;
  left: 25vw;
  top: 15px;
  width: 25px;
  height: 5px;
  text-align: justify;
  font-size: xx-large;
}

.Port_Link{
  position: absolute;
  right: 50vw;
  top: 15px;
  font-size: xx-large;
}

.Contact_Link{
  position: absolute;
  right: 25vw;
  top: 15px;
  font-size: xx-large;
}

.logo{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  position: absolute;
  left: 4vw;
  top: 0.8vh;
}


.home{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 5vh;
}

.portfolio{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 5vh;
}

.contact{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 5vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/****************************** HOME PAGE ******************************/


.Title {
  display: flex;
  padding-right: 50px;
  width: 254px;
  height: 250px;
  position: absolute;
  right: 42vw;
  top: -15vh;
}

.title {
  font-size: 12vw;
  color: white;
  position: absolute;
  /*top: 0px;*/
}

.about_me {
  color: white;
  position: absolute;
  top: 35vh;
  left: 8vw;
  width: 55vw;
  text-align: left;
  font-size: 1.4vw;
}


/**************************** PORTFOLIO PAGE ********************************/



.DB2-Cloud_title{
  position: absolute;
  left: 40vw;
  top: 270px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.DB2-Cloud_description{
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 320px;
  color: white;
}

.DB2-Cloud_link{
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 400px;
}

.SQL_fundamentals_title{
  position: absolute;
  left: 40vw;
  top: 440px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.SQL_description{
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 480px;
  color: white;
}

.SQL_link{
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 580px;
}


.RNN_v_LSTM_title{
  position: absolute;
  left: 40vw;
  top: 600px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.RNN_v_LSTM_description{
  font-size: 16px;
  width: 690px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 640px;
  color: white;
}

.RNN_v_LSTM_link{
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 700px;
}

.SM_tech_indicators_title{
  position: absolute;
  left: 40vw;
  top: 720px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.SM_tech_indicators_description{
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 760px;
  color: white;
}

.SM_tech_indicators_link{
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 860px;
}

.SM_tech_pdf{
  font-size: 16px;
  position: absolute;
  color: white;
  left: 40vw;
  top: 890px;
}
.time_series_vis_title{
  position: absolute;
  left: 40vw;
  top: 910px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.time_series_vis_description{
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 960px;
  color: white;
}

.time_series_vis_link{
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 1050px;
}

.trading_engine_title {
  position: absolute;
  left: 40vw;
  top: 1080px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.trading_engine_description{
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 1130px;
  color: white;
}

.trading_link{
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 1270px;
}



.SMA_ML {
  width: fit-content;
}

.sma_title {
  position: absolute;
  left: 40vw;
  top: 1290px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.sma_description{
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 1330px;
  color: white;
}

.sma_pdf{
  font-size: 16px;
  position: absolute;
  left: 40vw;
  top: 1450px;
  color: white;

}

.FFNN_Deriv {
  width: fit-content;
}

.ffnn_title{
  position: absolute;
  left: 40vw;
  top: 1490px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.ffnn_description {
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 1530px;
  color: white;
}

.ffnn_pdf{
  font-size: 16px;
  position: absolute;
  left: 40vw;
  top: 1610px;
  color: white;
}

.NFT_Lottery{
  width: fit-content;
}

.NFT_Title_1 {
  position: absolute;
  left: 40vw;
  top: 1650px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.NFT_Lottery_description {
  font-size: 16px;
  font-style: italic;
  width: 480px;
  position: absolute;
  left: 40vw;
  top: 1690px;
  color: white;
}

.NFT_Link_1 {
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 1730px;
}

.NFT_Basic{
  width: fit-content;
}

.NFT_Title_2 {
  position: absolute;
  left: 40vw;
  top: 1770px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.NFT_Basic_description {
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 1810px;
  color: white;
}

.NFT_Link_2 {
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 1870px;
}


.NFT_website{
  width: fit-content;
}

.NFT_Title_3 {
  position: absolute;
  left: 40vw;
  top: 1910px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.NFT_Website_description {
  font-size: 16px;
  font-style: italic;
  width: 480px;
  position: absolute;
  left: 40vw;
  top: 1950px;
  color: white;
}

.NFT_Link_3 {
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 2040px;
}

/*.ML_Python_cert{*/
/*  width: fit-content;*/
/*}*/

/*.Cert_Title_1 {*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 1660px;*/
/*  font-size: 20px;*/
/*  text-decoration: none;*/
/*  color: white;*/
/*  font-weight: 500;*/
/*}*/

/*.Cert_1_description {*/
/*  font-size: 11px;*/
/*  width: 480px;*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 1700px;*/
/*  color: white;*/
/*}*/

/*.ML_pyth_pdf{*/
/*  font-size: 11px;*/
/*  text-decoration: none;*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 1760px;*/
/*}*/

/*.NN_DL_cert{*/
/*  width: fit-content;*/
/*}*/

/*.Cert_Title_2 {*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 1800px;*/
/*  font-size: 20px;*/
/*  text-decoration: none;*/
/*  color: white;*/
/*  font-weight: 500;*/
/*}*/

/*.Cert_2_description {*/
/*  font-size: 11px;*/
/*  width: 480px;*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 1840px;*/
/*  color: white;*/
/*}*/

/*.NN_DL_pdf{*/
/*  font-size: 11px;*/
/*  text-decoration: none;*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 1890px;*/
/*}*/

/*.Math_ML_cert{*/
/*  width: fit-content;*/
/*}*/

/*.Cert_Title_3 {*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 1940px;*/
/*  font-size: 20px;*/
/*  text-decoration: none;*/
/*  color: white;*/
/*  font-weight: 500;*/
/*}*/

/*.Cert_3_description {*/
/*  font-size: 11px;*/
/*  width: 480px;*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 1980px;*/
/*  color: white;*/
/*}*/

/*.Math_ML_pdf{*/
/*  font-size: 11px;*/
/*  text-decoration: none;*/
/*  position: absolute;*/
/*  left: 43vw;*/
/*  top: 2040px;*/
/*}*/

.Masters_Proj{
  width: fit-content;
}

.Masters_Title {
  position: absolute;
  left: 40vw;
  top: 2070px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.Masters_description {
  font-size: 16px;
  width: 480px;
  font-style: italic;
  position: absolute;
  left: 40vw;
  top: 2110px;
  color: white;
}

.masters_code{
  font-size: 15px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 2230px;
}

.masters_pdf{
  font-size: 16px;
  color: white;
  position: absolute;
  left: 40vw;
  top: 2250px;
}

/*********************************** Contact Page *********************************/

.Contact_Box {
  position: absolute;
  left: 33vw;
  top: 40vh;
  width: 40vw;
  height: 20vh;
  border-style: solid;
  border-color: white;
}

.linked_link {
  font-size: 1.2vw;
  position: absolute;
  left: 2vw;
  bottom: 3vh;
  color: royalblue;
}

.phone_number{
  color: white;
  font-size: 1.2vw;
  position: absolute;
  left: 2vw;
  top: 5.5vh;
}

.email{
  position: absolute;
  top: -0.7vh;
  left: 2vw;
  color: white;
}
